/*** GLOBAL {{{ ***/
:root {
  --fg: #111;
  --bg: #fff;
  --round: 10px;
  --input-round: 0.35em;
  --accent: rgb(20 184 166);
  --primary: #ec7357;
  --secondary: #e8e8e8;
  --disabled: #808080;
  --border-width: 1px;
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--secondary);
  --img-max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #111;
  }
}
html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.25rem;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  text-decoration-thickness: 0.1rem;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  line-height: 1;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: "Helvetica Neue", Tahoma, Arial, PingFangSC-Regular, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  & > header,
  & > main,
  & > footer {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  & > header {
    padding-top: 8rem;
    padding-bottom: 8rem;
    font-size: 1.2em;
  }
}

.maximize {
    width: 100vw;
    height: 100vh;
}

/* }}} */
/*** LAYOUT {{{ ***/
.g {
    display: grid;
}

.f {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;

  &.v {
    flex-direction: column;
    &.r {
        flex-direction: column-reverse;
    }
  }
  &.i {
    display: inline-flex;
  }
  &.r {
    flex-direction: row-reverse;
  }
  &.z {
    flex-wrap: wrap;
  }
  &.gap {
    gap: 1em;
    &.sm {
      gap: 0.2rem;
    }
    &.md {
      gap: 0.4rem;
    }
    &.lg {
      gap: 0.8rem;
    }
    &.xl {
      gap: 1rem;
    }
    &.xxl {
      gap: 2rem;
    }
  }
  &.nogrow,
  & >._nogrow {
    flex-grow: 0;
  }
  &.shrink,
  & >._shrink {
    flex-shrink: 1;
  }
}

.f,.g {
  .f {
      --start: flex-start;
      --end: flex-end;
  }
  .g {
      --start: start;
      --end: end;
  }
  &.c {
    &.js {
      justify-content: var(--start);
    }
    &.je {
      justify-content: var(--end);
    }
    &.jc {
      justify-content: center;
    }
    &.jx { /* g */
      justify-content: stretch;
    }
    &.ja {
      justify-content: space-around;
    }
    &.jb {
      justify-content: space-between;
    }
    &.jn { /* g */
      justify-content: space-evenly;
    }
    &.as {
      align-content: var(--start);
    }
    &.ae {
      align-content: var(--end);
    }
    &.ac {
      align-content: center;
    }
    &.ax {
      align-content: stretch;
    }
    &.aa {
      align-content: space-around;
    }
    &.ab {
      align-content: space-between;
    }
    &.an { /* g */
      align-content: space-evenly;
    }
  }
  &.i {
    &.as {
      align-items: var(--start);
    }
    &.ae {
      align-items: var(--end);
    }
    &.ac {
      align-items: center;
    }
    &.ax {
      align-items: stretch;
    }
    &.ab { /* f */
      align-items: baseline;
    }
    &.js { /* g */
      justify-items: var(--start);
    }
    &.je { /* g */
      justify-items: var(--end);
    }
    &.jc { /* g */
      justify-items: center;
    }
    &.jx { /* g */
      justify-items: stretch;
    }
  }
  &.s {
    &.aa , & >._aa { /* f */
      align-self: auto;
    }
    &.as , & >._as {
      align-self: var(--start);
    }
    &.ae , & >._ae {
      align-self: var(--end);
    }
    &.ac , & >._ac {
      align-self: center;
    }
    &.ax , & >._ax {
      align-self: stretch;
    }
    &.ab , & >._ab { /* f */
      align-self: baseline;
    }
    &.js , & >._js { /* g */
      justify-self: var(--start);
    }
    &.je , & >._je { /* g */
      justify-self: var(--end);
    }
    &.jc , & >._jc { /* g */
      justify-self: center;
    }
    &.jx , & >._jx { /* g */
      justify-self: stretch;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  opacity: 1;
  height: auto;
  align-self: center;
}

.abs {
  position: absolute;
}

/* }}} */
/*** CONTAINER {{{ ***/
.__card>*,
.card {
  padding: 0.5rem;
  color: var(--fg);
  background-color: var(--bg);
  &.border {
    border: var(--border);
    border-radius: var(--round);
    &.accent {
        border: var(--border-width) var(--border-style) var(--accent);
    }
    &.primary {
        border: var(--border-width) var(--border-style) var(--primary);
    }
    &.disabled {
        border: var(--border-width) var(--border-style) var(--disabled);
    }
  }
  &.bottom {
    border-bottom: var(--border);
  }
  &.wd {
    padding: 1em 4em 1em 4em;
  }
}

.shadow {
  box-shadow:
    --csstools-color-scheme--light: initial;
    --shadow-color: var(--disabled);
    --shadow-color-calc: rgb(from var(--shadow-color) r g b / calc(alpha - .2));
    --shadow-width: 2px 2px 0px 0px;
    box-shadow: var(--shadow-width) var(--shadow-color-calc), 0px 0px 2px 0px var(--shadow-color-calc);
    transition: all 0.1s ease-in-out 0s;
  &:hover {
    --shadow-width: 4px 4px 0px 0px;
  }
  &.primary {
    --shadow-color: var(--primary);
  }
  &.accent {
    --shadow-color: var(--accent);
  }
  &.secondary {
    --shadow-color: var(--secondary);
  }
  &.disabled {
    --shadow-color: var(--disabled);
  }
}

.scrollx {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1 1 0;
  -webkit-overflow-scrolli: ng touch;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--fg);
    border-radius: var(--round);
  }
}
.scrolly {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 0;
  -webkit-overflow-scrolli: ng touch;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--fg);
    border-radius: var(--round);
  }
}

/* }}} */
/*** DECORATE {{{ ***/
.pointer {
  cursor: pointer;
}

.ease {
  transition: all 1s ease;
}

.filter-gray {
  filter: grayscale(100%);
  filter: #808080;
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow:
    /* Bottom and right depth effect */
    inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
    /* Top and left depth effect */
    inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
    /* Shadow effect */
    3px 2px 10px rgba(0, 0, 0, 0.25),
    /* Short subsurface effect */
    inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025);
}


/* }}} */
/*** TEXT {{{ ***/
.txt {
  line-height: 1.2;
  color: var(--fg);
  word-break: break-all;
  &.sm {
    font-size: 0.6rem;
  }
  &.md {
    font-size: 0.8rem;
  }
  &.lg {
    font-size: 1.6rem;
  }
  &.xl {
    font-size: 2rem;
  }
  &.xxl {
    font-size: 4rem;
  }
  &.bold {
    font-weight: bold;
  }
  &.accent {
    color: var(--accent);
    font-weight: 600;
  }
  &.hint {
    color: var(--disabled);
  }
}

.markdown {
  & img {
      max-width: var(--img-max-width);
  }
}

blockquote,
pre {
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 0.8rem;
  border-left: 0.1rem solid var(--fg);
  overflow-y: hidden;
}
pre {
  border: 0.05rem dotted var(--fg);
  border-left: 0.1rem solid var(--fg);
  & > code {
    white-space: pre;
    display: block;
    font-size: 0.8rem;
  }
}

/* }}} */
/*** ELEMENTS {{{ ***/
p {
    margin: 0.2rem;
}
a {
  color: var(--fg);
  &.plain {
    text-decoration: none;
  }
  &.plain:focus {
    box-shadow: none;
  }
}
figure {
  margin: 0;
}
figcaption {
  text-align: right;
  font-size: 0.8em;
  border-bottom: var(--border);
  padding-bottom: 0.2rem;
}
img {
  width: 100%;
  height: auto;
}

main section + section {
  padding: 2rem 0;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}
footer {
  text-align: center;
}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  height: 0.5rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  background: var(--bg);
  color: var(--fg);
  border: 0.1rem solid var(--fg);
  border-radius: var(--round);
  &::-webkit-progress-bar {
    background-color: var(--bg);
  }
  &::-webkit-progress-value {
    background-color: var(--fg);
  }
  &::-moz-progress-bar {
    background-color: var(--fg);
  }
}

hr {
  border: 0.05rem solid var(--fg);
}

ul {
  list-style: square;
}
nav {
  margin: 2rem 0;
  & ul {
    padding: 0;
    list-style: none;
    & li {
      margin: 0 0.2rem;
      display: inline-block;
    }
  }
}

/* }}} */
/*** INPUT {{{ ***/
fieldset {
  border: var(--border);
}
label,
legend {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.button {
  &.shadow {
    --shadow-width: 4px 4px 0px 0px;
    &:hover {
        --shadow-width: 2px 2px 0px 0px;
    }
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  background: var(--bg);
  color: var(--fg);
  border: var(--border);
  border-radius: var(--input-round);
  cursor: pointer;
}
button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  border-style: dashed;
  cursor: not-allowed;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: inherit;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  color: var(--fg);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--input-round);
  font-family: Helvetica, Arial, sans-serif;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--bg);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: var(--fg);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--accent);
  border-radius: var(--input-round);
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
  /* Windows High Contrast Mode */
  background-color: var(--secondary);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  border: 0.15em solid var(--accent);
  outline: max(2px, 0.15em) solid var(--secondary);
  outline-offset: max(2px, 0.15em);
}
input[type="checkbox"]:disabled {
  color: var(--disabled);
  cursor: not-allowed;
}

fieldset,
input,
select,
textarea {
  margin: 0 0 0 0;
  border: none;
  border: var(--border-width) solid var(--secondary);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  padding: 5px;
  &::placeholder {
    color: var(--disabled);
    font-style: italic;
    opacity: 1;
  }
  &:focus {
    border: var(--border-width) solid var(--disabled);
    /*transform: scaleX(1);*/
    transition: all 0.5s ease-in-out 0s;
  }
}
/* }}} */
/*** TABLE {{{ ***/
table {
  width: 100%;
  border-spacing: 0;
}

td,
th {
  padding: 0.4rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
th {
  border-bottom: 0.1rem solid var(--fg);
  text-align: left;
}
td {
  border-bottom: 0.05rem solid var(--fg);
}

/* }}} */
